html,
body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  scroll-behavior: smooth;
  background-color: #000000;
}
.section1 {
  height: 85vh;
  min-height: 50px;
  padding-top: 200px;
}
.section1 img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.logo {
  font-weight: 300;
  padding-right: 10px;
}
.side-nav li > a {
  color: #ffffff;
}

.section2 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}
.section3 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}
.section4 {
  margin-top: 100px;
  margin: 0;
  padding: 20px;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: auto;

  /* Support for IE. */
  font-feature-settings: "liga";
}
