* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}
.main-nav a:hover {
  color: #718daa;
}
.nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Intro section */
.welcome {
  background: wheat;
  padding: 250px;
  min-height: 100vh;
  text-align: center;
  line-height: 2.5em;
  width: auto;
}
.welcome p {
  letter-spacing: 0.2em;
  font-weight: 500;
}
.welcome h1 h3 {
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 900;
}
/*main content*/
.content {
  display: flex;
}
/* About section */
.primary {
  min-height: 100vh;
  padding: 4em;
  width: 100%;
}
.primary h3 {
  text-align: center;
  text-transform: uppercase;
}
.primary p {
  line-height: 2em;
  text-align: justify;
  text-indent: 20px;
  font-weight: normal;
}
/* Projects */

/* social media and contact*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: rgb(83, 80, 80);
}
.github {
  background: #000;
  color: white;
}
.reddit {
  background: #ff5700;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.stackoverflow {
  background: #ff9900;
  color: white;
}
.email {
  background: red;
  color: white;
}
/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav,
  .main-nav,
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .nav,
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .nav,
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
